<!DOCTYPE html>
<html lang="de">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MyMediathek</title>
  <link rel="icon" type="image/png" href="www/images/favicon.png">
  <link rel="stylesheet" href="www/css/kw.css">
</head>
<body>
  <!-- Header -->
  <header id="header">
    <div class="kflexbar">
      <h1 id="toptitle">MyMediathek</h1>
      <div id="topplayer" class="topplay" data-id="0">Webbrowser</div>
      <div id="topmenu" class="dropdown topbtn-right">
        <button><img src="www/images/gear.svg" alt="gear"></button>
        <div class="dropdown-content drop-top">
          <optgroup id="playerlist" label="Film Wiedergabe mit:">
            <option id="o_play" data-id="0">Webbrowser</option>
          </optgroup>
          <optgroup label="Schriftgröße">
            <option id="o_large">größer</option>
            <option id="o_small">kleiner</option>
            <option id="o_stand">Standard</option>
          </optgroup>
          <optgroup label="Dienste">
            <option id="o_admin">Verwaltung ...</option>
            <option id="o_git">GitHub ...</option>
          </optgroup>
        </div>
      </div>
    </div>
    <div class="kbar flist">
      <div class="dropdown">
        <button>Sortieren</button>
        <div class="dropdown-content">
          <option value="timestamp" class="ssort">Sendedatum</option>
          <option value="timestamp:y" class="ssort">Sendedatum absteigend</option>
          <option value="duration" class="ssort">Länge</option>
          <option value="duration:y" class="ssort">Länge absteigend</option>
        </div>
      </div>
      <div class="dropdown">
        <button id="selectViewBtn">Ansicht</button>
        <div id="selectView" class="dropdown-content">
          <option id="expand" class="fview">Expandiert</option>
        </div>
      </div>
      <button id="fBookBtn" class="btn-right">Merkliste</button>
    </div>

    <div class="kflexbar flist">
      <div class="bar-input">
        <div class="popoverWrapper">
          <a href="#"></a>
          <button id="searchBtn">Suche:</button>
          <div class="popoverContent">
            <p class="popoverMessage"><span class="popoverTitle">Suchoptionen:</span><br>![sender][,sender] ! : alle Sender<br>#Thema<br>+Titel<br>*Beschreibung<br>&lt;x (in minuten)<br>&gt;x (in minuten)<br>++ zukünftige</p>
          </div>
        </div>
      </div>
      <div id="searchInput">
        <input id="searchInputValue" type="text">
      </div>
    </div>

    <div class="kbar mlist">
      <div class="dropdown dropdown-scroll">
        <button id="m_selectCategoryBtn">Auswahl</button>
        <div id="m_selectCategory" class="dropdown-content dropdown-scroll"></div>
      </div>
      <div class="dropdown">
        <button>Sortieren</button>
        <div id="m_selectSort" class="dropdown-content">
          <option value="title" class="msort">Titel</option>
          <option value="title:y" class="msort">Titel absteigend</option>
          <option value="theme" class="msort">Thema</option>
          <option value="theme:y" class="msort">Thema absteigend</option>
          <option value="date" class="msort">Sendedatum</option>
          <option value="date:y" class="msort">Sendedatum absteigend</option>
          <option value="expiry" class="msort">Ablaufdatum</option>
          <option value="expiry:y" class="msort">Ablaufdatum absteigend</option>
          <option value="duration" class="msort">Länge</option>
          <option value="duration:y" class="msort">Länge absteigend</option>
        </div>
      </div>
      <div class="dropdown">
        <button>Ansicht</button>
        <div id="m_selectView" class="dropdown-content">
          <option id="m_expand" class="sview">Expandiert</option>
          <optgroup label="Auswahl:">
            <option id="m_mvall" class="sview">Alle Filme</option>
            <option id="m_mvunseen" class="sview">Ungesehene Filme</option>
            <option id="m_mvseen" class="sview">Gesehene Filme</option>
            <option id="m_mvexpired" class="sview">Abgelaufene Filme</option>
            <option id="m_mvdead" class="sview">Ungültige Filme</option>
          </optgroup>
          <optgroup label="Filter:">
            <option id="m_filterexpired" class="sview">Abgelaufene Filme ausblenden</option>
            <option id="m_filterdead" class="sview">Ungültige Filme ausblenden</option>
          </optgroup>
        </div>
      </div>
      <div class="dropdown">
        <button id="m_selectActionBtn">Aktion</button>
        <div id="m_selectAction" class="dropdown-content">
          <option id="testExpired" class="saction">Teste auf ungültige Filme</option>
          <optgroup label="Löschen:">
            <option id="delDead" class="saction">Lösche ungültige Filme</option>
            <option id="delSeen" class="saction">Lösche gesehene Filme</option>
            <option id="delExpired" class="saction">Lösche abgelaufene Filme</option>
          </optgroup>
        </div>
      </div>
      <button id="fMovieBtn" class="btn-right">Filmliste</button>
    </div>
  </header>

  <div id="msgpopuperr" class="popuperr"></div>

  <!-- cards -->
  <section id="Filme" class="flist"></section>

  <section id="m_Bookmarks" class="mlist"></section>

  <section id="Kategorien" class="klist"></section>

  <dialog id="dlgm_selectCategory">
    <div class="dialog-content">
      <h3 class="container color_fl">Kategorie festlegen:</h3>
      <div id="msgpopupcdlg1" class="popinline"></div>
      <div class="container" id="m_KategorieListe"></div>
      <footer class="color_ml">
        <div class="topbtnbar">
          <label>Neue Kategorie:</label>
        </div>
        <div class="kflexbar">
          <input id="mNewCategoryName" placeholder="Kategoriename" type="text">
          <button id="mNewCategoryButton" class="newCatButton">Speichern</button>
        </div>
      </footer>
      <footer class="color_fl dfooter">
        <button onclick="document.getElementById('dlgm_selectCategory').style.display='none'" type="button" class="cancelBtn round-large">Abbruch</button>
      </footer>
    </div>
  </dialog>

  <dialog id="dlgSetExpiry">
    <div class="dialog-content">
      <h3 class="container color_ml">Ablaufdatum festlegen:</h3>
      <div id="msgpopupexpdlg" class="popinline"></div>
      <div class="kbar">
        <input id="InputAblaufdatum" class="input-large kwmrg" type="date">
        <button id="ReqExpiryDate" class="borderBtn btn-right kwmrg"> hole Datum von Webseite ... <img src="www/images/download-cloud.svg" alt="cloud" height="24" class=""></button>
      </div>
      <footer class="color_ml dfooter">
        <button onclick="document.getElementById('dlgSetExpiry').style.display='none'" type="button" class="cancelBtn round-large kwmrg">Abbruch</button>
        <button id="NewExpiryButton" class="color_purple round-large btn-right kwmrg">Speichern</button>
      </footer>
    </div>
  </dialog>

  <!-- context menu -->
  <div id="m_ctxm" class="ctxmenu">
    <option id="m_setseen" class="m_ctxm">Gesehen</option>
    <option id="m_setuseen" class="m_ctxm">Ungesehen</option>
    <option id="setcat" class="m_ctxm">Kategorie ...</option>
    <option id="setexp" class="m_ctxm">Ablaufdatum ...</option>
  </div>

  <!-- footer -->
  <footer id="footer">
    <p class="pmrg" id="foottext"></p>
    <p class="pmrg" id="footnb"></p>
  </footer>

  <!-- info -->
  <div id="msgpopup" class="popup"></div>

  <!-- wait -->
  <img id="wait" src="www/images/wait.svg" alt="wait" style="display: none;">

  <script type="module" src="www/js/main.js"></script>
</body>
</html>